.wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.colTitle {
	padding: 20px;
	color: #333;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	border-top: 1px solid #eee;
	display: flex;
	justify-content: space-between;
}

.colTitle:hover {
	background: rgb(190, 188, 188);
}
