.wrapper {
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
}
.logo {
	width: 200px;
	object-fit: contain;
	cursor: pointer;
}
.github {
	width: 80px;
	object-fit: contain;
}
.ghWrapper {
	display: flex;
	align-items: center;
}
